<h1> <%= @list.name %></h1>

<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, width: 200 %>
<% end %>

<%= link_to 'New bookmark', new_list_bookmark_path(@list) %><br>
<%= link_to 'back', lists_path %>
